extends layouts/main.pug

block styles
    link(rel='stylesheet', href='/css/error.css')

block content
    div
        h1 404
        h2 Page Not Found
        p The page you are looking for does not exist!
        a(href='/') Back to Shop